body {
    margin: 0;
    padding: 0;
    
}

#heading {
    text-align: center;
    padding-top:2.5rem;
    color:#428bca;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
}
#main {
   border: 5px solid orange;
   width:50vw;
   height: 75vh;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   border-radius: 10px;
   
}

 #logo {
  
   width:300px;
   height: 300px;
  padding-left:235px;

 }
 a {
  text-decoration: none;
  color:#428bca;
  font-size:30px;
  font-weight: 600;
  position: absolute;
  top:300px;
  left:240px;
 }

 a:hover {
  color: orange;
 }
